.header_container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  overflow:hidden;
  display: flex;
  flex-wrap:wrap;
  align-content: flex-end;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.main_header_image_text {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5cm;
  height: 2.5cm;
  border-radius: 25px;
  background: #2094F3;
  margin: 4px 2px;
}
.main_header_image_text h1 {
  color: #ffffff;
  font-size:1.5cm;
}

.main_title {
  font-size: 1cm;
  flex-grow: 1;
}

.description {
  font-size: 1cm;
  display: flex;
  align-items:center;
}

.android_icon span{
  font-size: 44px;
  color: #99CC33;
}

.download_button {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  border-radius: 8px;
  border: none;
  color: #ffffff;
  background: #2094F3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.download_button_div :hover{
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  background: #44a7f8;
}
.download_button_div {
  margin: 35px 10px;
}

#main {
  width: 100%;
  background-color: #A7C7FD;
}

.presentation {
  padding: 24px;
  padding-bottom: 0px;
}



@media(max-width: 600px) {
  .header_container{
    flex-direction: column;
  }
  .main_title{
    flex: 1 0 auto;
  }
}

h1 {
    color:#000000;
    text-align: start;
  }
img{
    width: 6cm;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
}



