#title_row {
  background-color: rgb(255, 255, 255);
  height: auto;
  display: flexbox;
}

.header_row {
  display: flex;
  list-style: none;
  justify-content: left;
  align-items: center;
}

#main_title {
  margin-left: 25px;
}
#main_title h1 {
  font-size: 1.5cm;
}

#main_header_image {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5cm;
  height: 2.5cm;
  border-radius: 25px;
  background: #2094F3;
}
#main_header_image_text h1 {
  color: #ffffff;
  font-size:1.5cm;
}

#main {
  background-color: #2094F3;
}

h1 {
    color:#000000;
    text-align: start;
  }
img{
    width: 2.5cm;
    height: 2.5cm;
}
p {
    color: blueviolet;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

#download_button_div {
  padding-left: 5vmax;
}

#download_button {
  border-radius: 8px;
  border: none;
  color: #ffffff;
  background: #2094F3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}